$main-color-1 : #2F80ED;
$main-color-2 : #56CCF2;
$box-shadow-color : rgba(0, 0, 0, 0.1);
$text-color : #343434;
$sub-text-color : rgba(40, 40, 40,0.8);

$background-color1 : #ffffff;
$background-color2 : #f9f9f9;

$border-color : rgba(0, 0, 0, 0.2);

