@import 'color';

@mixin box-shadow {
  box-shadow: 0px 0px 10px 0px $box-shadow-color;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
  vertical-align: top;
  margin: 0px 20px 20px 0px;
  border-radius: 20px;
  background-color: white;
  position: relative;

}

@mixin box-smartphone($width, $height) {
  width: $width;
  height: $height;
}

@mixin box-title {
  font-weight: normal;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
}

@mixin box-content {
  text-align: left;
  margin: 0 20px;
  word-break: break-all;
  color: $text-color;
}

@mixin box-sub-content {
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  margin: 20px;
  color: $text-color;
  word-break: break-all;
}

@mixin section{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 60px 0px 60px;
  padding-bottom:30px;
  border-bottom:1px solid $border-color;
  &:last-child{
    border-bottom:none; 
  }
}

@mixin box-wrapper{
  display: flex;
  width: 66%;
  margin: 0;
  flex-wrap: wrap;
}
