@import 'color';

@mixin section{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 60px 0px 60px;
  padding-right:180px;
  padding-bottom:30px;
  border-bottom:1px solid $border-color;
  &:last-child{
    border-bottom:none; 
  }
  
  @media (max-width: 1250px) {
    border:none;
    padding-right:0px;
  }
}

@mixin box-wrapper{
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content:center;

  // PCのみ
  @media (min-width: 1250px) {
    flex: 1;
  }

  @media (max-width: 1250px) {
      width: 100%;
      justify-content:center;
  }
}
@mixin box-shadow {
  box-shadow: 0px 0px 10px 0px $box-shadow-color;
}

@mixin box($width) {
  width: $width;
  vertical-align: top;
  margin: 0px 20px 20px 0px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  padding-bottom: 64px;

  @media (max-width: 670px) {
    margin: 0px 0px 20px 0px;
  }

}


@mixin box-title {
  font-weight: normal;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
}

@mixin box-content {
  text-align: left;
  margin: 0 20px;
  word-break: break-all;
  color: $text-color;
}

@mixin box-sub-content {
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  margin: 20px;
  color: $text-color;
  word-break: break-all;
}

